body {
    background-image: url("Images/PrideColours.jpg");
    font-family: "Roboto", sans-serif;
}

a {
    color: #885df1;
}

.weatherApp-Container {
    background: #E5BE39;
    max-width: 600px;
    margin: 45px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding: 30px;
}

header {
    border-bottom: 1px solid #f9f7fe;
    padding: 0 0 30px 0;
}

.search-input {
    background-color: white;
    border: none;
    border-radius: 6px;
    width: 80%;
    font-size: 16px;
    padding: 10px 20px;
}

.search-button {
    background: #D0AFBF;
    padding: 10px 30px;
    border:none;
    font-size: 16px;
    margin-left: 5px;
    border-radius: 6px;
    color: white;
}
.search-button:hover{
     background-color: green;
     transition:0s;
}

main {
    padding: 30px 0;
}

.weather-app-data {
    display: flex;
    justify-content: space-between;
}

h1 {
    margin: 0;
    font-size: 38px;
    line-height: 48px;
    color: #759F9B;
}

.weatherApp-section {

    font-size: 16px;
    color: rgba(39, 33, 66, 0.4);
    line-height: 24px;
    font-weight: 500;
}

.weatherApp-section strong {
    color: #f65282;
}

.weather-temperature {
    display: flex;
    justify-content: end;
    margin-top: -30px;
}

.weather-icon {
    width: 60px;
    margin-top: 2px;
    margin-right: 10px;
    
}

.weather-degree {
    font-size: 88px;
    margin-left: 10px;
    font-weight: bold;
}

.weather-unit {
    margin-top: 16px;
    font-size: 28px;
}













footer {
    border-top: 1px solid #f9f7fe;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
     background: linear-gradient(137.9deg, rgb(78, 156, 226) 7.8%, rgb(62, 146, 69) 16%, rgb(251, 220, 23) 32.7%, rgb(242, 160, 35) 50.4%, rgb(253, 12, 12) 71.5%, rgb(192, 26, 129) 83.1%);
}